<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangxin.tmall.dao.UserDao">
    <select id="getAllUserForAdmin" resultType="com.zhangxin.tmall.pojo.User">
        select * from user
    </select>
    <update id="updateUserNameForAdmin" >
        update user set name =#{name} where id =#{id}
    </update>
    <select id="getUserByUserName" parameterType="String" resultType="com.zhangxin.tmall.pojo.User">
        select * from user where name =#{name}
    </select>
    <update id="updatePasswordForAdmin">
        update user set password =#{password} where id=#{id}
    </update>
    <delete id="deleteUserForAdmin" parameterType="int">
      delete from user where id = #{id}
    </delete>
    <select id="getUserLocation" parameterType="int" resultType="int">
     select count(*) from user where #{id} > id
    </select>
    <select id="getUserById" parameterType="int" resultType="com.zhangxin.tmall.pojo.User">
        select * from user where id =#{id}
    </select>
    <select id="getUserByNameAndPassword" resultType="com.zhangxin.tmall.pojo.User">
        select * from user where name =#{name} and password =#{password}
    </select>
    <update id="updateLoginDate">
        update user set logintime =#{loginTime} where id =#{id}
    </update>
    <insert id="insertUser" parameterType="com.zhangxin.tmall.pojo.User">
        insert into user values(null,#{name},#{password},null)
    </insert>
</mapper>